@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
body , html{
  height: 99%; 
  background-repeat: no-repeat;
  background-size:cover; 
  background-attachment:fixed;       
  
}
 div, h2,  a,  img
 menu{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
html {
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}    
#menue{
  width:1000px;
  height:60px;
  margin:10px auto 50px auto;
  padding:0px 50px 0px 50px;
  background: #E2E2E2;
  border-radius: 10px;
  position: relative;
  background: -moz-linear-gradient(top, #0272a7, #013953);
  background: rgba(90, 114, 124, 0.70);
  }

  #menue ul li {
    float: right;
    list-style: none;
    text-align: center;
    position: center;
    padding: 4px 10px 4px 10px;
    margin-right: 150px;
    margin-top: 7px;
    border: none;
    }
    
#menue ul li a {
  font-style: italic;
  font-weight:bolder;
  color:  #ffffff;
  font-weight: bold;
  display:block;
  text-decoration:none;
  font-size: 25px;
  } 


nav {
  float: left;
  width: 30%;
  height: 300px; 
  background: #ccc;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 15%;
  background: rgba(90, 114, 124, 0.70);
  height: 250px; 
  border-radius: 10px;
}
#main{
  
  width: 50%;
  height: 25%;
  margin-top: 5%;
  margin-left: 3%;
}



.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image img {
    border-radius: 4px;
    display: block;
  }

  .image.left, .image.right {
    max-width: 55%;
  }

    .image.left img, .image.right img {
      width: 100%;
    }

  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }

  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
  }

    .image.main img {
      width: 100%;
    }

    @media screen and (max-width: 736px) {

      .image.main {
        margin: 0 0 2em 0;
      }

    }
/* Tiles */

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position:center;
  margin: -3.5em 0 0 -3.5em;
  padding-left: 5%;
}

  .tiles article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;
  }

    .tiles article > .image {
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
      position: relative;
      display: block;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }

      .tiles article > .image img {
        display: block;
        width: 100%;
      }

      .tiles article > .image:before {
        pointer-events: none;
        -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
        -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
        -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
        transition: background-color 0.5s ease, opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1.0;
        z-index: 1;
        opacity: 0.8;
      }

      .tiles article > .image:after {
        pointer-events: none;
        -moz-transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.25;
        z-index: 2;
      }

    .tiles article > a {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
      -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
      -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
      transition: background-color 0.5s ease, transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1em;
      border-radius: 4px;
      border-bottom: 0;
      color: #fcf9fb;
      font-weight: bold;
      font-weight: bolder;
      font-style: italic;
      text-align: center;
      text-decoration: none;
      z-index: 3;
      font-size: 25px;
    }

      .tiles article > a > :last-child {
        margin: 0;
      }

      .tiles article > a:hover {
        color: #ffffff !important;
        font-size: 23px;
      }

      .tiles article > a h2 {
        margin: 0;
      }

      .tiles article > a .content {
        -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
        -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
        -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        width: 100%;
        max-height: 0;
        line-height: 1.5;
        margin-top: 0.35em;
        opacity: 0;
      }

        .tiles article > a .content > :last-child {
          margin-bottom: 0;
        }

    .tiles article.style1 > .image:before {
      background-color: #1c2f36;
    }

    .tiles article.style2 > .image:before {
      background-color: #A0ADB3;
    }

    .tiles article.style3 > .image:before {
      background-color: #1c2f36;
    }

    .tiles article.style4 > .image:before {
      background-color: #A0ADB3;
    }

    .tiles article.style5 > .image:before {
      background-color: #1c2f36;
    }

    

    body:not(.is-touch) .tiles article:hover > .image {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

      body:not(.is-touch) .tiles article:hover > .image:before {
        background-color: #333333;
        opacity: 0.35;
      }

      body:not(.is-touch) .tiles article:hover > .image:after {
        opacity: 0;
      }

    body:not(.is-touch) .tiles article:hover .content {
      max-height: 15em;
      opacity: 1;
    }

  * + .tiles {
    margin-top: 2em;
  }

  body.is-preload .tiles article {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
  }

  @media screen and (max-width: 1280px) {

    .tiles {
      margin: -1.25em 0 0 -1.25em;
    }

      .tiles article {
        width: calc(33.33333% - 1.25em);
        margin: 1.25em 0 0 1.25em;
      }

  }

  @media screen and (max-width: 980px) {

    .tiles {
      margin: -2.5em 0 0 -2.5em;
    }

      .tiles article {
        width: calc(50% - 2.5em);
        margin: 2.5em 0 0 2.5em;
      }

  }

  @media screen and (max-width: 736px) {

    .tiles {
      margin: -1.25em 0 0 -1.25em;
    }

      .tiles article {
        width: calc(50% - 1.25em);
        margin: 1.25em 0 0 1.25em;
      }

        .tiles article:hover > .image {
          -moz-transform: scale(1.0);
          -webkit-transform: scale(1.0);
          -ms-transform: scale(1.0);
          transform: scale(1.0);
        }

  }

  @media screen and (max-width: 480px) {

    .tiles {
      margin: 0;
    }

      .tiles article {
        width: 100%;
        margin: 1.25em 0 0 0;
      }

  }



#main {
  padding: 0em 0 6em 0 ;
}

  @media screen and (max-width: 736px) {

    #main {
      padding: 0em 0 4em 0 ;
    }

  }
    div#tab {
      width: 600px;
      padding-left: 1em;
      background: rgba(90, 114, 124, 0.70);
      position: fixed;
      left:55%;
      top: 55%;
      font-style: italic;
      font-weight: bolder;
      border-radius: 10px;
    
      
  }
  div#tab p { 
    font-size: 30px;
    text-align: left;
    padding-right: 5px;
    color: #ffffff; 
    font-style: italic;
    font-weight: bolder;
  }
  
  div#tab1 {
    width: 1000px;
    border-radius: 10px;
    padding-left: 1em;
    background: rgba(90, 114, 124, 0.70);
    position: fixed;
    left:300px;
    top: 200px;

    

}
div#tab1 p { 
    font-size: 30px;
    text-align: left;
    padding-right: 10px;
    color:  #ffffff; 
    font-style: italic;
    font-weight: bolder;

    
}
table, th, td {
  position: center;
  border:1px solid #ffffff;
  background: rgba(90, 114, 124, 0.70);
  margin: auto;
  color:#ffffff; 
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
}
table td{
  text-align: center;
  
}
span{
  color: #ffffff;
  font-weight: bolder;
  font-size: 25px;
}
button{
font-size: large;
}
input{
  font-size: 15px;
 
}
label{
  color: #ffffff;
  font-size: 25px;
 
}
fieldset{
  width:600px;
}
 div#tab2 {
  width: 1000px;
  border-radius: 10px;
  padding-left: 1em;
  background: rgba(90, 114, 124, 0.80);
  position: absolute;
  left:300px;
  top: 30px;
}
div#tab2 img {
  width: 250px;
  height: 200px;
}
div#tab2 p {
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
}
div#tab2 table th {
  font-style: italic;
  height: 50px;
  width: 50px;
 
}
div#tab2 a button {
  font-style: italic;
  border-color: #013953;
  color: #ffffff;
  border-radius: 10px;
  background-color: #013953;
  padding: 10px 20px 10px 20px ;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 46%;
}
div#tab2 form {
  font-style: italic;
  border-color: #013953;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px 10px 20px ;

}
legend{
  color: #013953;
  font-weight: bold;
  font-size: large;
}